@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

$logo-color: #08b3f0;

$primary-background: #ffffff;
$primary-separator: #eceef0;
$primary-outliner: #bfc4d7;

$info-background-color: #08b3f0;
$success-background-color: #d9f2dd;
$success-color: #359742;
$error-background-color: #ffe5e5;
$error-color: #ff6666;
$loading-background-color: #fff6e3;
$loading-color: #ffaa00;

$button-background-color: #ffaa00;
$button-color: #ffffff;
$button-secondary-background-color: #ffffff;
$button-secondary-border-color: #eaecee;
$button-secondary-color: #000000;

$icons-color: #8b8ba7;

$primary-nav-header-color: #16161d;
$secondary-nav-header-color: #9fa5b3;

$inner-nav-background-color: #f0f2f5;
$font: "Inter", sans-serif;

$label-top-color: #aaadb5;
