
.keyValueTableContainer{
    margin: 1vh 5vw;
  }
  
.keyValueTable{
    border: 1px solid #d4d4d4;
}

.keyValueTableHeader{
    display: flex;
    width: 100%;
    padding: 0px 12px;

    h5{
        color: grey;
    }
}

.keyValueTableView{
    display: flex;
    border-top: 1px solid #d4d4d4;
    padding: 0px 12px;
    font-weight: 400;
}

.keyValueTableHeaderKey{
    flex: 1;
}

.keyValueTableHeaderValue{
    flex: 5;
}
  