.modelTrackingHeader{
  padding: 2vh 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .buttonAlignment{
        display: flex;
        align-items: center;

        p{
            padding: 4px 6px;
            background-color: #ddf6ff;
            color: #0ab3f0;
            border-radius: 6px;
            margin-left: 20px;
        }

        .buttonPrimary{
            background-color: #006aff;
            color: #fff;
            padding: 8px 20px;
            margin-right: 6%;
            font-size: 14px;
            outline: none;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
   
       .buttonSecondary{
           background-color: #fff;
           color: #000;
           padding: 8px 20px;
           font-size: 14px;
           outline: none;
           border: 1px solid grey;
           border-radius: 6px;
           cursor: pointer;
        }
    }
}