@import "../../../styles/mixins";
@import "../../../styles/variables";

@mixin text-mixin() {
  text-align: center;
  color: #000000;
  font-family: $font;
  word-wrap: break-word;
}

.parent {
  @include row-center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.form {
  width: 50%;
  height: 100%;
  @include col-center;
  padding: 12% 10%;
  //   background-color: red;
  align-items: flex-start;
}

.login {
  @include text-mixin;
  font-weight: 700;
  font-size: x-large;
  margin-top: 5vh;
  margin-bottom: 0;
}

.welcome {
  @include text-mixin;
  font-weight: 400;
  font-size: medium;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.remember-label-div {
  @include row-center;
  margin: 2vh 0 5vh 0;
}

.remember-label {
  @include text-mixin;
  margin: 0;
  //   background-color: red;
}

.remember-input {
  border-radius: 2px;
  //   width: 40px;
  //   height: 100%;
  //   padding: 30px;
  border: 2px solid red;
  margin: 0 0.5vw 0 0;
}
